# Default ignored files
/../../Aula 17 — Revisão prática_ Condicionais e Laços /.idea/shelf/
/../../Aula 17 — Revisão prática_ Condicionais e Laços /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Aula 17 — Revisão prática_ Condicionais e Laços /.idea/httpRequests/
